.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  height: 40px; /* Set appropriate height */
}

.App-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.App-header nav {
  margin-top: 20px;
}

.App-header nav a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
}

.App-header nav a:hover {
  text-decoration: underline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-item {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.photo-item img {
  width: 100%;
  height: auto;
}

.photo-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
